body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgb(65, 215, 238), rgb(101, 243, 108));
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 20px 0;
}

.maze-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.maze-grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid green;
}

.maze-grid div {
    width: 20px;
    height: 20px;
} 

.path {
    background-color: white;
}

.wall {
    background-color: black;
}

.start {
    background-color: blue;
}

.end {
    background-color: red;
}


