@font-face {
  font-family: "Squartiqa";
  src: url(./fonts/Squartiqa4FStripes.otf);
}

@font-face {
  font-family: "UltraLight";
  src: url(./fonts/Squartiqa4FUltraLight.otf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    90deg,
    rgb(22, 138, 166),
    rgb(104, 200, 81)
  );
}

header {
  text-align: center;
  font-size: 30px;
  font-family: Squartiqa;
  color: rgb(2, 248, 2);
  text-shadow: rgb(238, 35, 92) 5px 3px 2px;
}

h1 {
  margin-bottom: 50px 0;
}

P {
  font-family: Squartiqa;
  font-size: 20px;
  text-shadow: rgb(136, 243, 146) 2px 2px 1px;
}

button {
  font-family: ultraLight;
  font-size: 30px;
  border-radius: 5px;
  background-color: white;
  text-shadow: rgb(250, 252, 250) 2px 2px 1px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  position: relative;
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(238, 35, 92);
  transition: all 1s;
}

a:hover:after {
  width: 100%;
}

#start-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
}

#countdown-timer {
  display: none;
  font-family: Helvetica;
  padding: 10px 15px;
  font-size: 35px;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(233, 230, 230);
  background-color: black;
  position: relative;
  top: 60px;
  left: 395px;
}

.maze-grid {
  display: none;
  flex-wrap: wrap;
  width: 616px;
  height: 616px;
  border: none;
  text-shadow: rgb(243, 8, 24) 2px 1px 2px;
}

.maze-grid div {
  width: 22px;
  height: 22px;
}

.path {
  background-color: linear-gradient(
    90deg,
    rgb(22, 138, 166),
    rgb(104, 200, 81)
  );
}

.wall {
  background-color: black;
}

.startTxt {
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(245, 210, 144);
}

.endTxt {
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(245, 210, 144);
}

.player {
  background-image: url("./playerImg.png");
  background-size: cover;
  background-position: center;
  height: 22px;
  width: 22px;
  border-radius: 1px;
  text-shadow: rgb(94, 247, 92) 1px 2px 1px;
}

.win-message {
  display: none;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: rgb(51, 255, 0) 2px 2px 10px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lose-message {
  display: none;
  font-family: ultraLight;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: rgb(51, 255, 0) 2px 2px 10px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
